.register-section-1 {
  margin-top: 0px;
  .title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-top: 77px;
  }
}

.register-section-2 {
  margin-top: 20px;
  .title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-top: 57px;
    margin-bottom: 20px;
  }
}