.card-find-container {
  margin-bottom: 120px!important;
}

.card-find {
  text-align: center!important;
  min-height: 213px;
  background: rgba(255, 255, 255, 0.7) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)!important;
}

.card-find-title {
  margin-top: 17px;
  font-size: 28px;
  line-height: 33px;
}

.card-find-sub-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.card-find-text {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  max-width: 472px;
  height: 48px;
}
.card-find-text-adornment {
  height: 28px!important;
}
.card-find-text-placeholder {
  text-overflow: 'ellipsis !important';
  color: $black-800;
  font-size: 20px;
  line-height: 23px;
}

.card-find-button {
  width: 171px;
  height: 49px;
  background: #29458D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)!important;
  margin-top: 7px!important;
  border-radius: 0px!important;
}
.card-find-button-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.service-cards{
	padding-top: 0!important;
  margin-top: -62px!important;
  
  .service-card{
    border-radius: 0px!important;
  }
  .service-card-image{
    padding: 0 15px 0 0;
    width: 100%;
    @media(max-width: 959px){
      padding: 12px !important;
      flex-basis: 33.33%;
    }
    @media(max-width: 599px){
      flex-basis: 50%;
    }
    &:last-child{
      padding:0!important;
    }
  }
  .service-card-image-overlay {
    background: #29458d73;
    overflow: hidden;
    height: 100%;
    z-index: 2;
  }
  .card-outer{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    /* &:before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(41, 69, 141,.5);
    }*/
    img{
      width: 100%;
    }
    .card-title{
      margin: 0;
      color: #FFFFFF;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      right: 10px;
      text-align: center;
      text-shadow: 0px 0 5px #000;
      font-weight: 400;
      font-size: 20px;
    }
  }
}

.bg-gray-1000-home {
  background: $gray-1000 !important;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.home-service-icons{
	.service-icons-outer{
		justify-content: space-between;
		margin: 30px 0;
		flex-wrap: wrap;
		.service-icon{
			text-align: center;
			@media(max-width: 1263px){
				flex-basis: 20%;
				margin: 30px 0;
			}
			@media(max-width: 599px){
				flex-basis: 50%;
			}
			img{
				max-height: 50px;
			}
			.icon-title{
				color: #29458D;
				display: block;
        margin: 15px 0 0;
        // font-weight: 400;
        // font-size: 20px;
				&.coming-soon{
					color: #E21313;
					.coming-soon-text{
						font-style: italic;
						font-weight: 300;
						font-size: 13px;
						line-height: 15px;
						display: inherit;
					}
				}
			}
		}
	}
}

.pricing-plan {
  padding-top: 36px;
  padding-bottom: 64px;
  .container-title {
    margin-bottom: 34px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .pricing-plan-description {
    margin-top: 51px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 23px;
    color: $black;
  }
  .card {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 49px;
    padding-bottom: 34px;
    background: $white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    min-width: 467px;
    max-width: 467px;
    display: inline-block;
  }
  .first-card {
    margin-right: 30px;
  }
  .title {
    margin-top: 0px;
    font-size: 28px;
    line-height: 33px;
  }
  .content {
    margin-top: 9px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px!important;
    text-align: center;
    .content-title {
      font-size: 20px;
      line-height: 23px;
      color: $black-900;
    }
    .content-text {
      margin-top: 100px;
      margin-bottom: 110px;
      max-width: 278px;
      min-height: 164px;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #707070;
      margin-left: auto;
      margin-right: auto;
      span{
        color: #29458D;
      }
      .know-more{
        display: block;
        margin: 20px 0 0;
        font-style: italic;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        color: #9B9B9B;
        span{
          width: 30px;
          height: 30px;
          background: #FFFFFF;
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
          display: block;
          margin: 0 auto 10px;
          border-radius: 100%;
          line-height: 30px;
          font-size: 20px;
          color: #9B9B9B;
        }
      }
    }
    .button-free-account {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      height: 55px;
      min-width: 210px;
      background: $primary;
      border-radius: 0px;
      span {
        color: $white;
        font-size: 20px;
        line-height: 23px;
      }
    }
    .button-pro {
      height: 55px;
      min-width: 210px;
      background: $primary;
      border-radius: 0px;
      background: $white;
      span {
        color: $primary;
        font-size: 20px;
        line-height: 23px;
      }
    }
  }
}
.pricing-plan-card-content{
  // box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);		
  padding: 30px 0;
  height: 100%;
}

.pricing-plan-title{
  margin-top: 30px;
}
.pricing-plan-sub-title{
  margin-bottom: 30px;
  justify-content: center;
  padding: 0 0 10px;
  font-size: 1.5rem;
  font-weight: 400;
}
.pricing-plan-text{
  font-size: 1.25rem;
  max-width: 320px;
  margin: 60px auto;
  span{
    color: #29458D;
  }
  .know-more{
    display: block;
    margin: 20px 0 0;
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #9B9B9B;
    span{
      width: 30px;
      height: 30px;
      background: #FFFFFF;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
      display: block;
      margin: 0 auto 10px;
      border-radius: 100%;
      line-height: 30px;
      font-size: 20px;
      color: #9B9B9B;
    }
  }
}
.pricing-one-btn{
	margin-top: 48px!important;
	@media(max-width: 599px){
		margin-top: 0;
	}
}
.pricing-button{
	min-width: 210px!important;
	height: 55px!important;
	
}
.pricing-button-label{
	font-size: 20px;
}

.logo{
  display: inline-block;
  // width: 100%;
  img{
    vertical-align: middle;
  }
  span{
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    margin-left: 15px;
    @media(max-width: 959px){
      display: block;
      margin: 0;
    }
  }
}

.list-outer{
  text-align: right;
  @media(max-width: 959px){
    text-align: left;	
  }
  &:nth-child(2){
    margin-bottom:24px;
  }
  .list-item{
    display: inline-block;
    min-height: auto;
    padding: 0;
    margin-right: 20px;
    &:last-child{
      margin-right:0;
    }
    a{
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
    }
  }
}

.section-title-container {
  padding-top: 35px!important;
}

.section-title {
  font-size: 28px;
  line-height: 33px;
}

.section-description {
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

.latestjobs-container {
  margin-top: 1.5rem;
  .title {
    margin-top: 77px;
    margin-bottom: 42px;
    font-size: 28px;
    line-height: 33px;
  }
  .card {
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
    border-radius: 0px;
    padding: 22px;
    .split {
      border-bottom: 2px solid #4D4D4D;
    }
  }
  .job-container {
    padding-left: 78px;
    padding-right: 78px;
    padding-top: 45px;
    padding-bottom: 45px;
    .job-title {
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: $primary;
    }
    .job-level-title {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      color: $primary;
      text-align: center;
    }
    .job-description {
      font-size: 20px;
      line-height: 23px;
      color: $black-900;
      max-width: 715.47px;
      min-height: 71px;
      padding-right: 10px;
    }
    .job-level {
      font-weight: bold;
      font-size: 28px;
      color: $black-900;
      text-align: center;
    }
  }
  .see-more{
    margin-top: 39px;
    margin-bottom: 59px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: underline;
  }
}

.license-container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 46px;
  padding-bottom: 75px;
  
  .text {
    background: rgba(235, 235, 235, 0.75);
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }
}

.footer-section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 39.5px;
  padding-right: 36px;
  .appstore {
    margin-top: 23px;
    margin-bottom: 24px;
    .image {
      width: 140px;
      height: 42px;
    }
  }
}